<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%level %logger{15} - %message%n%xException</pattern>
    </encoder>
  </appender>

  <logger name="com.virtuslab" level="DEBUG" />

  <logger name="slick.backend" level="INFO" />
  <logger name="slick.jdbc.JdbcBackend.benchmark" level="DEBUG" />
  <logger name="slick.jdbc.JdbcBackend.statement" level="DEBUG" />
  <logger name="slick.jdbc.StatementInvoker.result" level="DEBUG" />
  <logger name="slick.jdbc.JdbcBackend.parameter" level="DEBUG" />
  <!--<logger name="slick.compiler.QueryCompilerBenchmark" level="DEBUG" />-->

  <logger name="com.zaxxer.hikari" level="WARN" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
